header{
    height: 64px;
    background-color: #FFFFFF;
    border: 1px solid #DEE5ED;
    width: 100%;
    padding: 0 24px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    height: 30px;
}

header.menu{
    height: 20px;
}